* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100dvh;
    font-size: 10vw;
    font-family: monospace;
    font-weight: bold;
}

#hacker-effect {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}